@font-face {
  font-family: KohSantepheap;
  src: url("/static/fonts/KohSantepheap-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: KohSantepheap;
  src: url("/static/fonts/KohSantepheap-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --text: #333;
  --text-faded: #777;
  --bg: #fff;
  --bg-faded: #ddd;
  --error: #c44;
  --link: #67f;

  --rule: 1px;

  --font-size: 14pt;
  --font: KohSantepheap, serif;

  font: var(--font-size) / 1.5 var(--font);
  hyphens: auto;
  color: var(--text);
  background: var(--bg);
}

body {
  display: grid;
  grid-template:
    "head" min-content
    "main" 1fr
    "foot" min-content
    / 1fr;
  max-width: 100vw;
  height: 100vh;
  margin-inline: auto;
}

header {
  grid-area: head;
  padding: 16px 32px 0 32px;

  h1 {
    margin-left: 1.5em;
    position: relative;

    &::before {
      position: absolute;
      display: block;
      left: -1.5em;
      top: 50%;
      transform: translateY(-50%);
      height: 1em;
      width: 1em;
      content: "";
      background-image: url("/static/images/favicon.svg");
      background-size: 1em 1em;
    }

    a {
      color: var(--text);

      &:hover {
        text-decoration: none;
      }
    }
  }
}

main {
  grid-area: main;
  padding: 32px;
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
}

footer {
  grid-area: foot;
  font-size: 0.8rem;
  padding: 8px 32px;
  background: var(--text);
  color: var(--bg);

  ul {
    margin: 0;
    li {
      display: block;
    }
  }
}

*.text-error {
  color: var(--error);
}

*.hidden {
  display: none;
}

ul,
ol {
  margin-left: 3ch;
}

a {
  color: var(--link);
  text-decoration: none;

  &:hover {
    text-decoration: underline 1px solid currentColor;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

input,
button {
  display: block;
  margin-bottom: 8px;
  font: var(--font-size) / 1.5 var(--font);
}

input[type="number"] {
  padding: 4px 8px;
  border: var(--rule) solid var(--text-faded);
}

label {
  margin-top: 8px;
  font-size: 0.9rem;
  color: var(--text-faded);
  &::after {
    content: ":";
  }
}

button {
  padding: 4px 8px;
  background: none;
  border-radius: 1em;
  border: var(--rule) solid currentColor;

  &:hover {
    background: var(--bg-faded);
  }
  &:active {
    color: var(--bg);
    background: var(--text);
  }
}

#leaflet-map {
  height: 400px;
  margin-block: 32px;
}

#loading-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  white-space: nowrap;

  span {
    animation: load 0.6s infinite alternate;
  }
  span:nth-child(2) {
    animation-delay: 0.2s;
  }
  span:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

p {
  margin-bottom: 8px;
}
