{% extends "layout.html" %}
{% block content %}

<form action="/result" method="get" name="bbox">
  <label for="minlat">Minimum latitude</label>
  <input id="minlat" name="minlat" type="number" min="-90" max="90" value="0" step="any" />

  <label for="minlon">Minimum longitude</label>
  <input id="minlon" name="minlon" type="number" min="-180" max="180" value="0" step="any" />

  <label for="maxlat">Maximum latitude</label>
  <input id="maxlat" name="maxlat" type="number" min="-90" max="90" value="0" step="any" />

  <label for="maxlon">Maximum longitude</label>
  <input id="maxlon" name="maxlon" type="number" min="-180" max="180" value="0" step="any" />

  <button type="submit">
    Search
  </button>
</form>

{% endblock %}